* {
    font-family: var(--main-font);
    color: var(--light-color);
}

html {
    font-size: 62, 5%;
}

body {
    background-color: var(--dark-color);
}

.main-container {
    background: url("../src/images/background.jpg") no-repeat;
    background-size: auto;
    max-width: 1440px;
    min-height: 100%;
}

.display-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

img {
    height: 50px;
}