.rating-commentary-section {
    gap: 1.4rem;
}

.commentaries-container {
    background-color: var(--dark-color);
    gap: .6rem;
    padding: 1.4rem;
    border-radius: 1rem;
}

.avatar,
.avatar img,
.personal-text {
    height: 40px;
}

.avatar {
    align-self: center;
    width: 40px;
}

.personal-text,
.comment-information {
    text-align: left;
}

.personal-text,
.commentaries-container,
.rating-commentary-section {
    display: flex;
    flex-direction: column;
}

.rating-commentary-section {
    align-items: center;
}

.personal-information {
    display: flex;
    gap: 1rem;
}

.personal-name,
.alias {
    height: 50%;
    font-weight: 600;
}

.personal-name {
    font-size: 1rem;
}

.alias {
    font-size: .8rem;
    color: var(--contrast-color);
}

.comment-information {
    font-size: .7rem;
}

@media (min-width: 350px) {

    .commentaries-container {
        width: 320px
    }

    .personal-name {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .personal-text {
        gap: .2rem;
    }

    .comment-information {
        font-size: .8rem;
    }
}

@media (min-width: 450px) {
    .commentaries-container {
        height: 260px;
        width: 385px;
        padding: 2.5rem 1.8rem;
    }

    .personal-text .personal-name {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .personal-text {
        font-size: .8rem;
    }

    .avatar {
        width: 50px;
    }

    .avatar img,
    .avatar,
    .personal-information,
    .personal-text {
        height: 50px;
    }

    .comment-information {
        font-size: 1rem;
    }
}

@media (min-width: 650px) {
    .commentaries-container {
        width: 550px;
        padding: 1.4rem 2.5rem;
    }

    .personal-information {
        height: 35%;
        align-items: center;
    }

    .avatar,
    .avatar img,
    .personal-text {
        height: 60px;
    }

    .avatar {
        align-self: center;
        width: 60px;
    }

    .alias {
        font-size: 1rem;
        color: var(--contrast-color);
    }

    .comment-information {
        font-size: 1.2rem;
    }

    .personal-text .personal-name {
        font-size: 1.7rem;
    }
}

/* -------------------------- */

@media (min-width: 920px) {
    .rating-commentary-section {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1300px) {
    .rating-commentary-section {
        height: 300px;
    }

    .hunk-card,
    .leon-card,
    .jack-card {
        height: 300px;
        display: flex;
    }

    .hunk-card {
        flex-direction: column;
    }

    .jack-card {
        flex-direction: column-reverse;
    }
}