* {
    font-family: var(--main-font);
    color: var(--light-color);
}

html {
    font-size: 62, 5%;
}

body {
    background: url('../images/background.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    color: var(--contrast-color);
}

.display-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

#home,
#servicos,
#social {
    padding: 1.2rem;
}

footer,
.header {
    width: 100%;
}

@media (min-width: 450px) {

    #home,
    #servicos,
    #social {
        padding: 2rem;
    }
}

@media (min-width: 650px) {

    #home,
    #servicos,
    #social {
        padding: 3rem;
    }
}

