* {
    font-family: var(--main-font);
    color: var(--light-color);
}

html {
    font-size: 62, 5%;
}

body {
    background: url('../images/background.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    color: var(--contrast-color);
}

.display-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.main-container {
    width: 320px;
}

#home,
#servicos,
#social {
    padding: 1.2rem;
}

footer,
.header {
    width: 100%;
}

@media (min-width: 350px) {
    .main-container {
        width: 350px;
    }
}

@media (min-width: 420px) {
    .main-container {
        width: 420px;
    }
}