.header {
    justify-content: center;
    background-color: var(--dark-color);
    padding: 1rem;
    top: 0;
}

.header .menu {
    width: 100%;
    justify-content: center;
}

.header .menu ul {
    width: 100%;
    justify-content: space-evenly;
}

.header .menu ul li a {
    color: var(--contrast-color);
    text-transform: uppercase;
    font-weight: 600;
}

.header .menu ul li a:hover {
    color: var(--light-color);
}

.header img {
    display: none;
}

@media (min-width: 350px) {
    .header {
        padding: 1.5rem;
    }

    .header .menu ul li a {
        font-size: 1.2rem;
    }
}

@media (min-width: 450px) {
    .header {
        padding: 1.5rem;
    }

    .header .menu ul li a {
        font-size: 1.5rem;
    }
}

@media (min-width: 920px) {
    .header img {
        display: block;
        height: 40px;
    }

    .header .menu ul {
        gap: 2rem;
        justify-content: end;
    }

    .header .menu ul li a {
        color: var(--light-color);
    }

    .header {
        padding: 1rem 2rem;
    }

}