.header {
    background-color: var(--dark-color);
    padding: 1rem;
    width: 100%;
}

.header .menu {
    width: 1280px;
}

.menu-item-list {
    width: 100%;
    justify-content: space-evenly;

}

.menu-item {
    color: var(--contrast-color);
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.menu-item:hover {
    color: var(--light-color);
}

.logo-image {
    display: none;
}

@media (min-width: 350px) {
    .header {
        padding: 1.2rem;
    }

    .menu-item {
        font-size: 1.2rem;
    }
}

/* ----------------- */

@media (min-width: 450px) {
    .header {
        padding: 1.5rem;
    }

    .menu-item {
        font-size: 1.5rem;
    }
}

@media (min-width: 920px) {
    .logo-image {
        display: block;
        height: 40px;
    }

    .menu-item-list {
        gap: 2rem;
        justify-content: end;
    }

    .menu-item {
        color: var(--light-color);
    }

    .header {
        padding: 1rem 2rem;
    }

}