.main {
    text-align: center;
}

#home {
    display: flex;
    height: 710px;
    align-items: center;
}

.virus-picture {
    display: none;
}

.home-text-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#home .home-text-section .texts .title {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 600;
}

#home .home-text-section .texts .subtitle {
    font-size: 1.3em;
    line-height: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
}

#home .home-text-section .texts .description {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 300;
    margin-top: 2rem;
}

#home .home-text-section .texts {
    flex-direction: column;
    justify-content: center;
}

.contact-button {
    background-color: var(--light-color);
    padding: .5rem;
    border-radius: 2rem;
}

.contact-me {
    justify-content: center;
}

.contact-button a {
    color: var(--dark-color);
    font-weight: 800;
    font-size: 1.3em;
}

.contact-button a:hover {
    color: var(--light-color);
}

.contact-button:hover {
    background-color: var(--contrast-color);
}

.home-buttons {
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

@media (min-width: 350px) {
    #home .home-text-section .texts .description {
        font-size: 1.3rem;
        font-weight: 400;
    }

    #home .home-text-section .texts .title {
        font-size: 2.4rem;
    }

    #home .home-text-section .texts .subtitle {
        font-size: 1.5em;
    }
}

@media (min-width: 450px) {
    #home .home-text-section .texts .title {
        font-size: 3.1rem;
        line-height: 3rem;
    }

    #home .home-text-section .texts .subtitle {
        font-size: 1.8em;
        line-height: 2rem;
    }

    .contact-button {
        background-color: var(--light-color);
        padding: .9rem;
        border-radius: 2rem;
    }

    .home-buttons {
        height: 150px;
    }
}

@media (min-width: 650px) {

    #home .home-text-section .texts .title {
        font-size: 4rem;
        line-height: 3.7rem;
    }

    #home .home-text-section .texts .subtitle {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    #home .home-text-section .texts .description {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .contact-button {
        width: 400px;
    }

    .home-buttons {
        align-items: center;
    }
}


@media (min-width: 920px) {

    #home {
        justify-content: center;
    }

    #home .home-text-section .texts {
        width: 600px;
    }

    .contact-button {
        width: 175px;
        padding: .7rem .5rem;
    }

    .contact-button a {
        font-size: 1.2rem;
    }

    #home .home-text-section .texts .subtitle {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #home .home-text-section .texts .title {
        font-size: 4.2rem;
        line-height: 4rem;
    }

    #home .home-text-section .texts .description {
        font-size: 1.2rem;
    }
}