#home-section {
    display: flex;
    height: 80vh;
    align-items: center;
}

.virus-picture {
    display: none;
}

#home-section .home-text-section .texts,
.home-text-section {
    flex-direction: column;
}

.home-text-section {
    display: flex;
    gap: 4rem;
}

#home-section .home-text-section .texts .title,
#home-section .home-text-section .texts .subtitle {
    font-weight: 600;
}

#home-section .home-text-section .texts .title {
    font-size: 2.2rem;
    line-height: 2.4rem;
}

#home-section .home-text-section .texts .subtitle,
#home-section .home-text-section .texts .description {
    line-height: 1.4rem;
}

#home-section .home-text-section .texts .subtitle {
    margin-top: 1rem;
}

#home-section .home-text-section .texts .description {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 2rem;
}

.contact-button {
    background-color: var(--light-color);
    padding: .5rem;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}

.contact-button .contact-me,
#home-section .home-text-section .texts .subtitle {
    font-size: 1.3em;
}

.contact-me {
    justify-content: center;
    transition: 0.3s ease;
}

.contact-button .contact-me {
    color: var(--dark-color);
    font-weight: 800;
}

.contact-button .contact-me:hover {
    color: var(--light-color);
}

.contact-button:hover {
    background-color: var(--contrast-color);
}

.home-buttons {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

@media (min-width: 350px) {

    #home-section .home-text-section .texts .title {
        font-size: 2.4rem;
    }

    #home-section .home-text-section .texts .subtitle {
        font-size: 1.7em;
        line-height: 1.7rem;
    }

    #home-section .home-text-section .texts .description {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* ----------------- */

@media (min-width: 450px) {
    #home-section .home-text-section .texts .title {
        font-size: 3.1rem;
        line-height: 3rem;
    }

    #home-section .home-text-section .texts .subtitle {
        font-size: 1.8em;
        line-height: 2rem;
    }

    .contact-button {
        background-color: var(--light-color);
        padding: .9rem;
        border-radius: 2rem;
    }

    .home-buttons {
        height: 150px;
    }
}

@media (min-width: 650px) {

    #home-section .home-text-section .texts .title {
        font-size: 4rem;
        line-height: 3.7rem;
    }

    #home-section .home-text-section .texts .subtitle {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    #home-section .home-text-section .texts .description {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .contact-button {
        width: 400px;
    }

    .home-buttons {
        align-items: center;
    }
}


@media (min-width: 920px) {
    #home-section {
        justify-content: center;
        height: 90vh;
    }

    #home-section .home-text-section .texts {
        width: 600px;
    }

    .contact-button {
        width: 175px;
        padding: .7rem .5rem;
    }

    .contact-button a {
        font-size: 1.2rem;
    }

    #home-section .home-text-section .texts .subtitle {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #home-section .home-text-section .texts .title {
        font-size: 4.2rem;
        line-height: 4rem;
    }

    #home-section .home-text-section .texts .description {
        font-size: 1.2rem;
    }
}

@media (min-width: 1300px) {
    #home-section .home-text-section {
        text-align: left;
    }

    #home-section .home-text-section .texts .subtitle {
        font-size: 3.2rem;
        line-height: 3rem;
    }

    #home-section .home-text-section .texts .title {
        font-size: 4.5rem;
    }

    #home-section .home-text-section .texts .description {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .home-buttons {
        align-items: start;
    }

    .home-text-section {
        gap: 2rem;
    }

    .virus-picture {
        display: block;
    }

    .virus-picture img {
        width: 600px;
    }
}