.rate-container,
.rate-stars-containers {
    display: flex;
}

.rate-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.rate-container {
    background-color: var(--soft-dark-color);
    border-radius: .8rem;
    padding: .5rem 1rem;
    gap: 1rem;
    width: 320px;
}

.rate-stars-containers {
    flex-direction: column;
    gap: 1.2rem;
}

.rate-container .stars {
    height: 12px;
}

.rate-text {
    font-size: .8rem;
    height: 25px;
    line-height: 25px;
}

.rate-container figure {
    display: flex;
}

.rate-container {
    align-items: center;
}

@media (min-width: 350px) {
    .rate-container .stars {
        height: 15px;
    }
}

@media (min-width: 450px) {
    .rate-container .stars {
        height: 18px;
    }

    .rate-text {
        font-size: 1rem;
    }

    .rate-container {
        gap: 1rem;
        padding: .8rem;
        width: 380px;
    }
}

@media (min-width: 650px) {
    .rate-container .stars {
        height: 22px;
    }

    .rate-text {
        font-size: 1.4rem;
    }

    .rate-container {
        gap: 1.4rem;
        padding: .8rem 2.2rem;
        width: 550px;
    }
}

/* ------------------- */

@media (min-width: 920px) {
    .rate-container .stars {
        height: 20px;
    }

    .rate-text {
        font-size: 1.2rem;
    }

    .rate-container {
        gap: 1rem;
        width: 500px;
    }

    .rate-stars-section {
        align-items: center;
    }
}

@media (min-width: 1300px) {
    .rate-container {
        padding: 1rem;
    }

}