.service-card-section {
    margin-top: 3rem;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.card-container {
    background-color: var(--dark-color);
    padding: 1.2rem;
    border-radius: 1rem;
}

.card-text-information {
    flex-direction: column;
    text-align: start;
}

.card-container .card-title {
    font-size: 1.1rem;
    color: var(--contrast-color);
    font-weight: 600;
}

.card-description {
    font-size: .7rem;
}

.card-icon img {
    height: 45px;
}

.card-icon {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}

@media (min-width: 350px) {

    .card-container {
        width: 320px;
    }

    .card-container .card-title {
        font-size: 1.3rem;
    }

    .card-description {
        font-size: .9rem;
        width: 270px;
        margin-top: .5rem;
    }

    .card-icon img {
        height: 60px;
    }
}

@media (min-width: 450px) {

    .geral-card {
        display: flex;
        justify-content: center;
    }

    .card-container {
        width: 385px;
        height: 270px;
        padding: 2rem;
    }

    .card-container .card-title {
        font-size: 1.6rem;
    }

    .card-description {
        font-size: 1rem;
        width: 100%;
    }

    .card-icon img {
        height: 60px;
    }

}

@media (min-width: 650px) {
    .card-container {
        width: 550px;
        height: 200px;
        display: flex;
        justify-content: space-around;
    }

    .card-icon img {
        height: 110px;
    }

    .card-text-information {
        width: 70%;
    }

    .card-icon {
        margin: 0;
        align-self: center;
    }
}

/* ------------------------ */

@media (min-width: 920px) {
    .service-card-section {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}