#service-section .service-text .subtitle {
    font-size: 1.3rem;
    font-weight: 600;
}

#service-section .service-text .description {
    margin-top: .7rem;
}

.rate-social-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 350px) {
    #service-section .service-text .subtitle {
        font-size: 1.5rem;
    }

    #service-section .service-text .description {
        font-size: 1.2rem;
    }
}

/* ----------- */

@media (min-width: 450px) {
    #service-section .service-text .subtitle {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    #service-section .service-text .description {
        font-size: 1.4rem;
    }
}

@media (min-width: 920px) {
    #service-section .service-text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #service-section .service-text .subtitle,
    #service-section .service-text .description {
        width: 500px;
    }

    #service-section .service-text .subtitle {
        font-size: 2rem;
    }

    #service-section .service-text .description {
        font-size: 1.6rem;
    }
}

@media (min-width: 1300px) {

    #service-section .service-text .subtitle,
    #service-section .service-text .description {
        width: 800px;
    }

    #service-section .service-text .subtitle {
        font-size: 2.7rem;
        line-height: 3rem;
    }

    #service-section .service-text .description {
        width: 600px;
        font-size: 2rem;
        line-height: 2rem;
    }

    #service-section .service-text {
        gap: .4rem;
    }
}