.service-card-section {
    margin-top: 2rem;
    flex-direction: column;
    gap: 1.5rem;
}

.card-container {
    background-color: var(--dark-color);
    padding: 1.2rem;
    border-radius: 1rem;
}

.card-text-information {
    flex-direction: column;
    text-align: start;
}

.card-container .card-title {
    font-size: 1.1rem;
    color: var(--contrast-color);
    font-weight: 600;
}

.card-description {
    font-size: .7rem;
}

.card-icon img {
    height: 45px;
}

.card-icon {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}

@media (min-width: 350px) {
    .card-container .card-title {
        font-size: 1.3rem;
    }

    .card-description {
        font-size: 1rem;
        width: 270px;
        margin-top: .5rem;
    }

    .card-icon img {
        height: 55px;
    }
}