#social-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;
}

.social-text-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

#social-section .text-rate .social-text-information .subtitle {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
}

@media (min-width: 350px) {
    .rate-social-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #social-section .text-rate .social-text-information .subtitle {
        font-size: 2.3rem;
    }

    #social-section .text-rate .social-text-information .description {
        font-size: 1.3rem;
    }
}

@media (min-width: 450px) {

    #social-section .text-rate .social-text-information .subtitle {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    #social-section .text-rate .social-text-information .description {
        font-size: 1.3rem;
    }
}

@media (min-width: 650px) {
    .hunk-card,
    .leon-card,
    .jack-card {
        display: flex;
        justify-content: center;
    }

}

/* ---------------- */

@media (min-width: 920px) {

    .text-rate {
        display: flex;
        justify-content: center;
    }

    .social-text-information {
        width: 550px;
        height: 320px;
    }
}

@media (min-width: 1300px) {
    .rate-social-section {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
        gap: 3rem;
    }

    .social-text-information {
        height: 350px;
    }

    #social-section .text-rate .social-text-information .subtitle {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    #social-section .text-rate .social-text-information .description {
        font-size: 1.4rem;
    }
}