#social {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.social-text-information {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#social .text-rate .social-text-information .subtitle {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
}

@media (min-width: 350px) {
    .social-text-information {
        height: 380px;
    }

    #social .text-rate .social-text-information .subtitle {
        font-size: 2.3rem;
    }

    #social .text-rate .social-text-information .description {
        font-size: 1.3rem;
    }
}

@media (min-width: 450px) {

    #social .text-rate .social-text-information .subtitle {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    #social .text-rate .social-text-information .description {
        font-size: 1.3rem;
    }
}

@media (min-width: 920px) {

    .text-rate {
        display: flex;
        justify-content: center;
    }

    .social-text-information {
        width: 500px;
        height: 320px;
    }

}